{% extends "base.html" %}

{% block title %}
    {{ SITE_NAME }} - {{ entry.title }}
{% endblock %}

{% block content %}
    <article class="entry" itemscope itemtype="http://schema.org/BlogPosting">
        <header>
            <h1 itemprop="headline" class="entry-title">
                <a href="{{ entry.url }}">{{ entry.title }}</a>
            </h1>
        </header>
        <div class="entry-meta-top">
            <time itemprop="datePublished" datetime="{{ entry.date }}">{{ entry.date|date }}</time>
            <div class="entry-share">
                <span>Share:</span>
                <ul>
                    <li>
                        <a class="share-button"
                           href="https://www.facebook.com/sharer/sharer.php?u={{ SITE_URL }}{{ entry.url }}"
                           target="_blank">Facebook</a>
                    </li>
                    <li>
                        <a class="share-button" href="https://twitter.com/share?url={{ SITE_URL }}{{ entry.url }}"
                           target="_blank">Twitter</a>
                    </li>
                    <li>
                        <a class="share-button"
                           href="https://www.linkedin.com/sharing/share-offsite/?url={{ SITE_URL }}{{ entry.url }}"
                           target="_blank">LinkedIn</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="entry-content" itemprop="articleBody">
            {{ entry.html }}
        </div>
        <div class="entry-meta-bottom">
            {% if entry.tags %}
                <div class="entry-tags">
                    <span>Topics:</span>
                    <ul class="entry-tags-list">
                        {% for tag in entry.tags %}
                            <li><a href="{{ tag.url }}">#{{ tag.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <a href="/">Back to main</a> | <a href="#">To the top</a>
        </div>
    </article>
    <section id="pageComments">
        <hr>
        {% if GRAPHCOMMENT_ID %}
            <div id="graphcomment"></div>
            <script type="text/javascript">
            /* - - - CONFIGURATION VARIABLES - - - */
            var __semio__params = {
                graphcommentId: "{{ GRAPHCOMMENT_ID }}", // make sure the id is yours
                behaviour: {
                    uid: "{{ entry.url }}"
                }
            }
            /* - - - DON'T EDIT BELOW THIS LINE - - - */
            function __semio__onload() {
                __semio__gc_graphlogin(__semio__params)
            }
            (function() {
                var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
                gc.onload = __semio__onload; gc.defer = true; gc.src = 'https://integration.graphcomment.com/gc_graphlogin.js?' + Date.now();
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
            })();
            </script>
        {% else %}
            <p>Comments are disabled</p>
        {% endif %}
    </section>
{% endblock %}
{% block extra %}
    <div class="sticky-social-buttons-wrapper">
        <div class="sticky-social-buttons" id="stickySocialButtons">
            <span>Share</span>
            <ul>
                <li>
                    <a class="share-button"
                       href="https://www.facebook.com/sharer/sharer.php?u={{ SITE_URL }}{{ entry.url }}"
                       target="_blank">Facebook</a>
                </li>
                <li>
                    <a class="share-button" href="https://twitter.com/share?url={{ SITE_URL }}{{ entry.url }}"
                       target="_blank">Twitter</a>
                </li>
                <li>
                    <a class="share-button"
                       href="https://www.linkedin.com/sharing/share-offsite/?url={{ SITE_URL }}{{ entry.url }}"
                       target="_blank">LinkedIn</a>
                </li>
            </ul>
            <a href="/" class="back-url">Back to main</a>
        </div>
    </div>
    <script>
        window.onscroll = function () {
            toggleSticky()
        };

        function toggleSticky() {
            var stickyShare = document.getElementById('stickySocialButtons');
            var normalShare = document.getElementsByClassName("entry-share")[0];
            var offsetTop = normalShare.getBoundingClientRect().top;

            if (offsetTop + normalShare.offsetHeight <= 0) {
                stickyShare.style.visibility = 'visible';
                stickyShare.style.opacity = '1';
            }
            else {
                stickyShare.style.opacity = '0';
                stickyShare.style.visibility = 'hidden';
            }
        }

        toggleSticky();
    </script>
{% endblock %}