{% extends "base.html" %}

{% block title %}
    {{ SITE_NAME }}
{% endblock %}

{% block content %}
    <!-- Blog posts -->
    {% for entry in entries %}
        <article class="entry" itemscope itemtype="http://schema.org/BlogPosting">
            <header>
                <h1 itemprop="headline" class="entry-title">
                    <a href="{{ entry.url }}">{{ entry.title }}</a>
                </h1>
            </header>
            <div class="entry-meta-top">
                <time itemprop="datePublished" datetime="{{ entry.date }}">{{ entry.date|date }}</time>
                <div class="entry-share">
                    <span>Share:</span>
                    <ul>
                        <li>
                            <a class="share-button"
                               href="https://www.facebook.com/sharer/sharer.php?u={{ SITE_URL }}{{ entry.url }}"
                               target="_blank">Facebook</a>
                        </li>
                        <li>
                            <a class="share-button" href="https://twitter.com/share?url={{ SITE_URL }}{{ entry.url }}"
                               target="_blank">Twitter</a>
                        </li>
                        <li>
                            <a class="share-button"
                               href="https://www.linkedin.com/sharing/share-offsite/?url={{ SITE_URL }}{{ entry.url }}"
                               target="_blank">LinkedIn</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="entry-content" itemprop="accessibilitySummary">
                {{ entry.description }}
            </div>
            <div class="entry-meta-bottom">
                {% if entry.tags %}
                    <div class="entry-tags">
                        <span>Topics:</span>
                        <ul class="entry-tags-list">
                            {% for tag in entry.tags %}
                                <li><a href="{{ tag.url }}">#{{ tag.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if GRAPHCOMMENT_ID %}
                    <a  href="{{ SITE_URL }}{{ entry.url }}#graphcomment">Comments: <span class="gc-counter" data-uid="{{ entry.url }}">0 [Leave a comment]</span></a>
                {% endif %}
            </div>
        </article>
    {% endfor %}

    {% if paginator and paginator.page_count > 1 %}
        <!-- Pagination -->
        <ul class="site-pagination">
            {% if paginator.prev_page %}
                <li>
                    <a href="{{ page_name }}{% if paginator.prev_page > 1 %}{{ paginator.prev_page }}{% endif %}.html">
                        Previous page
                    </a> |
                </li>
            {% endif %}
            <li>
                Page {{ paginator.page_num }} of {{ paginator.page_count }}
            </li>
            {% if paginator.next_page %}
                <li>
                    | <a href="{{ page_name }}{{ paginator.next_page }}.html">Next page</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}
{% block extra %}
    {% if GRAPHCOMMENT_ID %}
        <script type="text/javascript">
            function __semio__onload__counter() {
            __semio__helpers_counter('{{ GRAPHCOMMENT_ID }}')
            }
        
            (function() {
            var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
            gc.onload = __semio__onload__counter; gc.defer = true; gc.src = 'https://integration.graphcomment.com/helpers_counter.js?' + Date.now();
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
            })();
            
        </script>
    {% endif %}
{% endblock %}